sync:
  defaults:
    mode: "two-way-safe"
    ignore:
      vcs: true
      paths:
        - ".direnv/"
        - ".devenv/"
        - ".venv/"
        - "mutagen.yml*"
        - ".vscode/"
        - "__pycache__"
        - "build/"
        - "*.so"
        - ".pytest_cache/"
        - ".ipynb_checkpoints/"
        - "*.egg-info/"
        - "*.log"
        - ".envrc"
        - ".mypy_cache/"
        - ".hypothesis/"
        - "pyrightconfig.json"
        - "data/*"
        - "artifacts/*"
        - "wandb/*"
        - ".ruff_cache/*"
        - "profiler_outputs/*"

  code:
    alpha: "./"
    beta: "mensch:~/projects/percipio_ml"
    mode: "two-way-safe"
  vcs:
    alpha: "./.git"
    beta: "mensch:~/projects/percipio_ml/.git"
    mode: "one-way-replica"
    ignore:
      vcs: false
      paths:
        - "index"

